.header {
    flex: 0 0 300px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 106px 48px;
}

.header nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: bold;
    margin: 0 -16px;
}

.header nav a:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}


.logo {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 72px;
    font-weight: bolder;
    color: inherit;
    text-decoration: none;
}

.nav-toggle {
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fff;
    box-shadow: 0;
    border-radius: 0;
    appearance: none;
}

.nav-toggle span {
    display: block;
    width: 12px;
    height: 2px;
    background-color: #000;
    margin: 1px 0;
    transform: rotate(0deg);
    top: 0;
    position: relative;
    opacity: 1;
    transition: transform, top, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

}


@media screen and (max-width:1023px) {
    .header {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        padding: 16px;
        justify-content: space-between;
        z-index: 20;
    }

    .header--open .nav-toggle span:first-child {
        transform: rotate(45deg);
        top: 4px;
    }

    .header--open .nav-toggle span:nth-child(2) {
        opacity: 0;
    }

    .header--open .nav-toggle span:last-child {
        transform: rotate(-45deg);
        top: -4px;
    }

    .logo {
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }


    .nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--color-primary);
        padding: 114px 16px 16px;
        z-index: 1;
        width: 300px;
        display: none;
    }

    .header--open .nav {
        display: block;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



}